<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Portfolio" suffix=" | Sajidur Rahman">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="relative w-full bg-white min-h-[100dvh]">
    <script>
      0
    </script>
    <.nav_bar conn={@conn} />
    {@inner_content}
    <footer class="relative flex flex-col items-center justify-center w-full py-5">
      <p>
        {gettext("Written in")}
        <a href="https://elixir-lang.org" class="font-medium text-indigo-700 underline">Elixir</a>
        {gettext("and")}
        <a href="https://v3.tailwindcss.com" class="font-medium text-indigo-700 underline">
          TailwindCSS
        </a>
      </p>
    </footer>
  </body>
</html>
